<% include partials/header%>
<% include partials/navbar%>
 
<div class="jumbotron">
    Leaderboards
</div>
<div class="container" id="leaderboard">
    
</div>


<% include partials/scripts%>
<link rel="stylesheet" href="/stylesheets/leaderboard.css">
<script src="leaderboard.js"></script>
<% include partials/footer%>